# 패키지 불러오기

In [1]:
import os.path
import pandas as pd
import matplotlib.pyplot as plt

# 데이터 불러오기

In [2]:
train = pd.read_csv('train.csv', encoding='euc-kr')
train.columns = ['DateTime', 'Users', 'Sessions', 'NewVisitors', 'PageViews']

In [3]:
train.head()

              DateTime  Users  Sessions  NewVisitors  PageViews
0  2018-09-09 00:00:00     19        19            8        206
1  2018-09-09 01:00:00     20        19            9        259
2  2018-09-09 02:00:00     12         9            1         48
3  2018-09-09 03:00:00     10        10            2        102
4  2018-09-09 04:00:00      6         5            3         18

In [22]:
info_com = pd.read_csv('info_competition.csv', encoding='euc-kr')

In [24]:
info_log = pd.read_csv('info_login.csv', encoding='euc-kr')

C:\Users\Lee\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [26]:
info_use = pd.read_csv('info_user.csv', encoding='euc-kr')

In [28]:
info_sub = pd.read_csv('info_submission.csv', encoding='euc-kr')

### 데이터설명

- 타이틀 : Dacon에서 열렸던 대회정보
-컬럼 :
대회아이디, 대회여부, 시작시점, 종료시점, 대회이름(한글, 영문), 키워드(한글, 영문)
참여자 수, 최대 팀 멤버, 하루 최대 제출 횟수, 상금, 상금정보, 팀 병합 데드하인, 보여지는 위너수

In [38]:
info_com.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        48 non-null     int64
 1   cpt_id            48 non-null     int64
 2   is_official       48 non-null     int64
 3   period_start      48 non-null     object
 4   period_end        48 non-null     object
 5   name              48 non-null     object
 6   name_eng          25 non-null     object
 7   keyword           48 non-null     object
 8   keyword_eng       24 non-null     object
 9   participants      48 non-null     int64
 10  max_team_member   48 non-null     int64
 11  max_file_per_day  48 non-null     int64
 12  prize             48 non-null     int64
 13  prize_info        32 non-null     object
 14  merge_deadline    48 non-null     object
 15  winner_show       48 non-null     int64
dtypes: int64(8), object(8)
memory usage: 6.1+ KB

- 타이틀 : 유저 관련 정보
- 컬럼 : 유저 아이디(데이터끼리 동일), 아이디 생성 시점, 대회 참여 횟수, 코드 공유 횟수,
    토론 횟수, 국가, 파이썬 수준(본인지정), 데이터 사이언스 수준(본인지정)

In [33]:
info_use.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22103 entries, 0 to 22102
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               21692 non-null  float64
 1   id                       21692 non-null  float64
 2   c_time                   21692 non-null  object
 3   entered_competition_cnt  21692 non-null  float64
 4   code_share_cnt           21692 non-null  float64
 5   talk_board_cnt           21692 non-null  float64
 6   country_code             21692 non-null  float64
 7   python_level             21692 non-null  float64
 8   ds_level                 21692 non-null  float64
dtypes: float64(8), object(1)
memory usage: 1.5+ MB

- 타이틀 : 제출 관련 정보
- 컬럼 : 제출 아이디, 제출 대회 아이디, 팀 아이디, 유저 아이디, 제출시점

In [35]:
info_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103375 entries, 0 to 103374
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  101587 non-null  float64
 1   sub_id      101587 non-null  float64
 2   cpt_id      101587 non-null  float64
 3   team_id     101501 non-null  float64
 4   user_id     99262 non-null   float64
 5   c_time      101587 non-null  object
dtypes: float64(5), object(1)
memory usage: 4.7+ MB

- 타이틀 : 로그인 관련 정보
- 컬럼 : 로그인 아이디, 유저 아이디, 로그인 시점, 로그인한 플랫폼, 로그인한 브라우저

In [36]:
info_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151428 entries, 0 to 151427
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  148999 non-null  float64
 1   login_id    148999 non-null  float64
 2   user_id     141585 non-null  float64
 3   c_time      148999 non-null  object
 4   platform    64654 non-null   object
 5   browser     64654 non-null   object
dtypes: float64(3), object(3)
memory usage: 6.9+ MB